.BarChart {
    width: fit-content;
    float: left;
    margin: 20px;
    padding: 5px 20px;
    height: 120px;
}

.BarChartBackground {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}