.PieChart {
    width: fit-content;
    float: left;
    margin: 20px;
    padding: 5px 20px;
    height: 120px;
}

.ChartBackground {
    display: flex;
    justify-content: center;
}

.BarChartBackground {
    display: flex;
    padding: 20px;
    align-items: center;
    height: fit-content;
}

.BarChart {
    width: 50%;
    margin: 0 50px 0 0;
}

.SubTitle {
    font-size: 10px;
}